*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    background: blueviolet;
    height: 80px;
    width: 100%;
}
label.logo{
    color: rgb(18, 52, 20);
    font-size: 35px;
    line-height: 40px;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
nav ul li ul{
    position: absolute;
    display: none;
    background-color: maroon; 
    border-radius: 0px 0px 5px;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li{
    line-height: 1;
    width: 170px;
    border-radius: 3px;
    padding: 4px;
}
a.active,a:hover{
    background: greenyellow;
    transition: .5s;
}
.section{
    width: 100%;
    min-height: 180vh;
    background-color: aqua;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding: 100px;
}
.content-section{
    float: left;
    width: 54%;
}
.image-section{
    float: right;
    width: 45%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.social{
    float: left;
    width: 47%;
}
.social img{
    width: 100%;
    height: auto;
}
.content1-section{
    float: right;
    width: 45%;
}